cds-base/cds-base-domain/src/main/resources/xsd/testCase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.fits.nist.gov/beans/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.fits.nist.gov/beans/">

	<element name="TestCase">
	    <complexType>
	    	<sequence>
	    		<element name="Name" type="string" minOccurs="1"
	    			maxOccurs="1">
	    		</element>
	    		<element name="Description" type="string" minOccurs="1"
	    			maxOccurs="1">
	    		</element>
	            <element name="EvaluationDate" type="tns:DateType" minOccurs="1" maxOccurs="1"></element>
	            <element name="MetaData" type="tns:MetaDataType"
	    			minOccurs="1" maxOccurs="1">
	    		</element>
	    		<element name="Patient" type="tns:PatientType" minOccurs="1"
	    			maxOccurs="1">
	    		</element>
	    		<element name="Events" type="tns:EventsType" minOccurs="0"
	    			maxOccurs="1">
	    		</element>
	    		<element name="Forecasts" type="tns:ForecastsType"
	    			minOccurs="1" maxOccurs="1">
	    		</element>
	    	</sequence>
	    </complexType>
    </element>

    <complexType name="MetaDataType">
    	<sequence>
    		<element name="version" type="string" minOccurs="1" maxOccurs="1"></element>
    		<element name="dateCreated" type="date" minOccurs="1" maxOccurs="1"></element>
    		<element name="dateLastUpdated" type="date" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="PatientType">
    	<sequence>
    		<element name="Gender" type="tns:GenderType" minOccurs="1" maxOccurs="1"></element>
    		<element name="DateOfBirth" type="tns:DateType" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>

    <simpleType name="GenderType">
    	<restriction base="string">
    		<enumeration value="Female"></enumeration>
    		<enumeration value="Male"></enumeration>
    	</restriction>
    </simpleType>

    <complexType name="EventsType">
    	<sequence>
    		<element name="Event" type="tns:EventType" minOccurs="0" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>

    <complexType name="EventType">
    	<sequence>
    		<element name="EventDate" type="tns:DateType" minOccurs="1" maxOccurs="1"></element>
    		<element name="Administred" type="tns:VaccineType" minOccurs="1" maxOccurs="1"></element>
    		<element name="Evaluations" type="tns:EvaluationsType" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    	<attribute name="type" type="string" use="required"></attribute>
    </complexType>

    <complexType name="VaccineType">
    	<attribute name="name" type="string" use="required"></attribute>
    	<attribute name="cvx" type="string" use="required"></attribute>
    	<attribute name="mvx" type="string" use="optional"></attribute>
    </complexType>

    <complexType name="EvaluationsType">
    	<sequence>
    		<element name="Evaluation" type="tns:EvaluationType" minOccurs="1" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>

    <complexType name="EvaluationType">
    	<sequence>
    		<element name="Vaccine" type="tns:VaccineType" minOccurs="1"
    			maxOccurs="1">
    		</element>
    		<element name="EvaluationReason" type="tns:EvaluationReasonType" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    	<attribute name="status" type="tns:statusType" use="required"></attribute>
    </complexType>

    <simpleType name="statusType">
    	<restriction base="string">
    		<enumeration value="Valid"></enumeration>
    		<enumeration value="Invalid"></enumeration>
    		<enumeration value="Extraneous"></enumeration>
    		<enumeration value="Sub-standard"></enumeration>
    	</restriction>
    </simpleType>
   

    <complexType name="ForecastType">
    	<sequence>
    		<element name="target" type="tns:VaccineType" minOccurs="1"
    			maxOccurs="1">
    		</element>
    		<element name="SerieStatus" type="tns:SerieStatusType" minOccurs="1"
    			maxOccurs="1">
    		</element>
            <element name="ForecastReason" type="string" minOccurs="1" maxOccurs="1"></element>
            <element name="Earliest" type="tns:DateType" minOccurs="1"
    			maxOccurs="1">
    		</element>
    		<element name="Recommended" type="tns:DateType"
    			minOccurs="1" maxOccurs="1">
    		</element>
    		<element name="PastDue" type="tns:DateType" minOccurs="1"
    			maxOccurs="1">
    		</element>
    	</sequence>
    </complexType>

    <complexType name="DateType">
    	<choice>
    		<element name="Fixed" type="tns:FixedDateType"></element>
    		<element name="Relative" type="tns:RelativeDateType"></element>
    	</choice>
    </complexType>

    <complexType name="FixedDateType">
    	<attribute name="date" type="date"></attribute>
    </complexType>

    <complexType name="RelativeDateType">
    	<attribute name="relativeTo" type="string"></attribute>
    	<attribute name="year" type="int"></attribute>
    	<attribute name="month" type="int"></attribute>
    	<attribute name="day" type="int"></attribute>
    </complexType>

    <complexType name="ForecastsType">
    	<sequence>
    		<element name="Forecast" type="tns:ForecastType" minOccurs="1" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>

    <complexType name="SerieStatusType">
    	<attribute name="code" type="string" use="required"></attribute>
    	<attribute name="details" type="string" use="optional"></attribute>
    </complexType>

    <complexType name="EvaluationReasonType">
    	<attribute name="code" type="string" use="required"></attribute>
    	<attribute name="value" type="string" use="required"></attribute>
    </complexType>

    <element name="ValidationReport" type="tns:ValidationReport"></element>
    
     <simpleType name="validationStatus">
    	<restriction base="string">
    		<enumeration value="ERROR"></enumeration>
    		<enumeration value="SUCCESS"></enumeration>
    		<enumeration value="WARNING"></enumeration>
    		<enumeration value="NO_MATCH"></enumeration>
    	</restriction>
    </simpleType>
    
    <complexType name="ValidationReport">
    	<sequence>
    		<element name="ReportMetaData" type="tns:ReportMetaDataType" minOccurs="1" maxOccurs="1"></element>
    		<element name="TestCaseMetaData" type="tns:TestCaseMetaDataType" minOccurs="1" maxOccurs="1"></element>
    		<element name="TestCaseInformation" type="tns:TestCaseInformationType" minOccurs="1" maxOccurs="1"></element>
    		<element name="ValidationResult" type="tns:ValidationResultType" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>
    <complexType name="ValidationResultType">
    	<sequence>
    		<element name="ReportSummary" type="tns:ReportSummaryType" minOccurs="1" maxOccurs="1"></element>
    		<element name="EvaluationsReport" type="tns:EvaluationsReportType" minOccurs="0" maxOccurs="1"></element>
    		<element name="ForecastsReport" type="tns:ForecastsReportType" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>
    <complexType name="ForecastsReportType">
    	<sequence>
    		<element name="ForecastValidation" type="tns:ForecastValidationType" minOccurs="1" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>
    <complexType name="ForecastValidationType">
    	<sequence>
    		<element name="Target" type="tns:VaccineType"></element>
    		<element name="DoseNumber" type="tns:DoseValidationType"></element>
    		<element name="EarliestDate" type="tns:DateValidationType"></element>
    		<element name="RecommendedDate" type="tns:DateValidationType"></element>
    		<element name="PastDueDate" type="tns:DateValidationType"></element>
    		<element name="LatestDate" type="tns:DateValidationType"></element>
    	</sequence>
    </complexType>
    <complexType name="DateValidationType">
    	<sequence>
    		<element name="Expected" type="date"></element>
    		<element name="Actual" type="date"></element>
    		<element name="Assessment" type="tns:validationStatus"></element>
    		<element name="DaysOffset" type="integer"></element>
    	</sequence>
    </complexType>
    <complexType name="DoseValidationType">
    	<sequence>
    		<element name="Expected" type="string"></element>
    		<element name="Actual" type="string"></element>
    		<element name="Assessment" type="tns:validationStatus"></element>
    		<element name="DaysOffset" type="integer"></element>
    	</sequence>
    </complexType>
    <complexType name="EvaluationsReportType">
    	<sequence>
    		<element name="EventValidation" type="tns:EventValidationType" minOccurs="0" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>
    <complexType name="EventValidationType">
    	<sequence>
    		<element name="VaccinationEvent" type="tns:EventType" minOccurs="1" maxOccurs="1"></element>
    		<element name="Evaluations" type="tns:EvaluationsValidationType" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>
    <complexType name="EvaluationsValidationType">
    	<sequence>
    		<element name="Evaluation" type="tns:EvaluationValidationType"></element>
    	</sequence>
    </complexType>
    <complexType name="EvaluationValidationType">
    	<sequence>
    		<element name="Evaluation" type="tns:EvaluationType"></element>
    		<element name="Actual" type="tns:statusType"></element>
    		<element name="Assessment" type="tns:validationStatus"></element>
    	</sequence>
    </complexType>
    
    <complexType name="ReportSummaryType">
    	<sequence>
    		<element name="Evaluations" type="tns:SummaryType" minOccurs="1" maxOccurs="1"></element>
    		<element name="Forecasts" type="tns:SummaryType" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>
    

    <complexType name="ReportMetaDataType">
    	<sequence>
            <element name="DateExecuted" type="dateTime" minOccurs="1" maxOccurs="1"></element>
            <element name="Software" type="tns:SoftwareConfigType" minOccurs="1" maxOccurs="1"></element>
        </sequence>
    </complexType>
    <complexType name="SummaryType">
    	<sequence>
    		<element name="Correct" type="decimal"></element>
            <element name="Errors" type="decimal"></element>
            <element name="Warnings" type="decimal"></element>
            <element name="Incomplete" type="decimal"></element>
            <element name="CompletionPercentage" type="decimal"></element>
            <element name="CorrectnessPercentage" type="decimal"></element>
        </sequence>
    </complexType>

    <complexType name="SoftwareConfigType">
    	<sequence>
    		<element name="EndPoint" type="string"></element>
    		<element name="ConnectionType" type="string"></element>
    	</sequence>
    </complexType>

    <complexType name="TestCaseMetaDataType">
    	<sequence>
    		<element name="Name" type="string" minOccurs="1" maxOccurs="1"></element>
    		<element name="UID" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="Group" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="MetaData" type="tns:MetaDataType" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>
    <complexType name="TestCaseInformationType">
    	<sequence>
    		<element name="Patient" type="tns:PatientType" minOccurs="1" maxOccurs="1"></element>
    		<element name="AssessmentDate" type="date" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>